/* CSS */

body {
  margin : 0 !important; 
  background-color: white !important;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
}

.mt-25 {
 margin-top : 25px;
}

.mb-60 {
  margin-bottom: 60px;
}

.soustitre h1 {
  font-size: 44px !important;
  color: #222 !important;
  font-weight: 500 !important;
  margin-top: 0px !important;
  line-height: 1.5 !important;
  margin-bottom: 15px !important;
}

.soustitre p {
  color: #626262 !important;
  line-height: 1.6 !important;
  margin-top: 0 !important;
}

p {
  font-size: 14px;
    color: #626262;
    line-height: 1.6;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 0px;
}

/* header */
#header {
  min-height: 100vh !important;
  
}

  /* navigation */
nav {
  background-color: rgba(255, 255, 255, 0.863) !important;
  display: flex !important;
  align-items: center !important;
  height: 85px !important;
  padding-left: 30px !important;
  padding-right: 30px; 
  position: fixed !important;
  z-index: 1000;
  top: 0; 
  right: 0;
  left: 0;
}

.logo, .menu {
  flex: 1 !important;
  
}

.logo img {
  width: 100px !important;
}

.menu ul {
  list-style: none !important;
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center !important; 
  margin-top: auto !important;
  margin-bottom: auto !important;

  
}

nav li {
  padding: 0 15px !important;
}

nav li a {
  text-decoration: none !important;
  color: rgba(34, 34, 34, 0.6) !important;
  font-size: 11px !important;
  font-family: inherit !important;
  letter-spacing: 1.6px !important;
  text-transform: uppercase !important;
  padding : 37px 0 !important; 
}
.menu ul li:nth-child(2) a {
  display: inline-block !important;
  width: 54px !important;
  padding-top: 39px !important;
  padding-bottom: 36px !important;
}

nav li a:hover {
  color: black !important;
}

/* Toggle menu */ 
.toggleMenu {
  display: none !important;
}

.toggleMenu span {
    width: 20px !important;
    height: 2px !important;
    background-color: black !important;
    margin: 3px 0 !important;
  }

  .toggleMenu div {
      display: flex !important;
      /* display: block; */
      flex-direction: column !important;
      margin-right: 0 !important;  
      width: 24px !important;
      height: 24px !important;
         
  }
   .toggleMenu div:hover > span:nth-child(2){
    display: none !important;
    /* opacity: 0; */

  }
   .toggleMenu div:hover > span:nth-child(1){
        transform: rotate(-45deg) translate(1px, 1px) !important;
        margin-top: 11px !important;

  }
   .toggleMenu div:hover > span:nth-child(3){
      transform: rotate(45deg) translate(1px, -2px) !important;
      position: absolute !important;
      margin-top: 11px !important;
  }

@media only screen and (max-width : 1024px) {

  .toggleMenu {
    display: block !important;
  }

  .menu {
      /* visibility: hidden; */
      display: none !important;
  }
}

/* Background header */
.bg-header {
  background-image: url("../images/16.jpg") !important;
  display: block !important;
  background-attachment: fixed !important;
  background-position-x: center !important;
  background-size: 100% !important;
}

.bg-header::before {
  background-color: rgba(255, 255, 255, 0.4) !important;
  content: "" !important;
  min-width: 100% !important;
  min-height: 100% !important;
  left: 0 !important;
  top: 0 !important;
  display: block !important;
  position: absolute !important;
}


/* Carousel */

#carousel {
  padding: 150px 200px 0 200px !important;
  margin-bottom: 0 !important;
  /* height: 100vh; */
  
}

.header-content {
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  /* justify-content: center; */
  text-align: center !important;
  z-index: 1 !important;
  /* height: 100vh; */
}

.header-content h5, .header-content h1,.header-content button {
  flex: 1 !important;
}

.header-content h5 {
  text-transform: uppercase !important;
  font-size: 14px !important;
  padding-bottom: 0 !important;
  padding-top: 50px;
}
.header-content h1 {
  font-size: 70px !important;
  margin-top: 50px !important;
  margin-bottom: 50px;
  /* margin-bottom: 40px; */
  font-weight: 400 !important;
  line-height: 1.1 !important;
  padding: 0 30px !important;  

}

.header-content a {
  border: 1px solid black !important;
  padding: 15px 30px !important;
  font-size: 12px !important;
  line-height: 1 !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
  text-decoration: none !important;
  color: black !important;
  text-transform: uppercase !important;
  text-align: center !important;
  
}

.header-content a:hover {
  color: white !important;
  background-color: black !important;
}

/* Section About */ 

.section-padding {
  padding: 120px 0 !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  

}

/* .about-table, .content-center {
  flex: 1 !important; 
} */

/* .content-center {
  text-align: center !important; 
  padding: 0 230px !important;
} */

.intro-about p {
  font-size: 20px !important;
  font-weight: 500 !important;
  margin-bottom: 20px !important;
  margin: 0 auto;
  max-width: 700px;
}

.about-table p {
  font-weight: 300 !important;
  font-size: 15px;
  
}

.about-table h4 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 16px;
  margin-bottom: 15px;
}

.about-table svg {
  margin-bottom: 35px;
  font-size: 40px;
}


/* Section Skills */
#skills {
  position: relative;
  height: 100%;
  width: 100%;
}
#skills h1 {
  margin-bottom: 25px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 22px;
}

#skills h6 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1;
  font-size: 14px;
}

#skills p {
  font-size: 18px;
  color: #626262;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 0px;
}

#skills .skillbar h6 {
  margin-bottom: 7px;
  text-align: left;
  display: inline-block; 
}

.skillbar-percent {
  float: right;
  display: inline-block;
  font-weight: 400;
  margin-top: 3px;
  font-size: 14px;
}

.progress {
  height: 4px;
  border-radius: 0 !important;
  
}

.progress-bar {
  background-color: #17a697;
}

.skillbar {
  margin-bottom: 20px;
}

/* Team section */

.teamvisu > img {
  width: 100%; 
}

.teaminfo h5 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.6;
}

.teaminfo p {
  font-size: 14px;
  color: #626262;
  line-height: 1.6;
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: 0px;
  
}
  /* Team social HOVER */ 
.teamvisu {
  position: relative;
}

.teamitem {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255, 255, 255, 0.95);
}

.teamvisu:hover .teamitem {
  opacity: 1;
}

.teamitem-hover {
  
  position: absolute;
  top: 54%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.social {
  list-style-type: none;
  padding: 0;
}

.social li {
  display: inline-block;
  border: 1px solid black;
  width : 28px; 
  height: 28px;
  margin: 0 8px;
  transform: rotate(45deg); 
}

.social a {
  color: black;
  text-decoration: none;
  
}

.social a li svg {
  transform: rotate(-45deg);
  font-size: 14px;
}

.social  li:hover {
  background-color: black;
}

.social  a li:hover {
  color: white;
}


/* Features */

#features p {
 font-size: 16px;
 
}

#features h1 {
  font-size: 22px;
  margin-bottom: 25px;  
  text-transform: uppercase;
  font-weight: 600;
}

.fmedia {
  margin-top: 30px; 
  
}
 
.icon {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.link svg {
  margin-top: 13px;
}

.fmedia a, .fmedia a:hover {
  text-decoration: none;
  color: #222;
  font-size: 13px;
  margin-right: 30px;
}

/* PAGE TRIANGLE */

.triangle::before {
  content: "";
  height: 100px;
  width: 100px;
  left: 47%;
  background-color: #fff;
  transform: translateY(-216%) rotate(45deg);
  position: absolute;
  z-index: 999;
}